<!DOCTYPE html>
<html lang="en">
<center>
    <head>
        <meta charset="UTF-8">
        <title>Take the Quiz!</title>
    </head>
    <body style="background-color:rgb(219, 166, 226);"></body>
    <body>
        <form method="post">
            <label for="fname">First name:</label>
            <br />
            <input type="text" name="fname">
            <br />
            <label for="lname">Last name:</label>
            <br />
            <input type="text" name="lname">
            <br />
            <br />
            <label for="fname">How tall are you, in inches?</label>
            <br />
            <input type="text" name="height">
            <br />
            <br />
            <label for="fname">Ideal date setting?</label>
            <br />
            <select name="ideal date">
                <option value="A picnic on a sunny day">A picnic on a sunny day</option>
                <option value="Going to the beach">Going to the beach</option>
                <option value="A candlelit dinner">A candlelit dinner</option>
                <option value="Getting horoscope tattoos">Getting horoscope tattoos</option>
                <option value="Catching a movie">Catching a movie</option>
                <option value="Visiting a snake farm">Visiting a snake farm</option>
            </select>
            <br />
            <br />
            <label for="fname">What is your favorite food?</label>
            <br />
            <select name="food">
                <option value="Hummus">Hummus</option>
                <option value="Apples">Apples</option>
                <option value="Veggies">Veggies</option>
                <option value="Vegan food">Vegan food</option>
                <option value="Cheese">Cheese</option>
                <option value="Eggs">Eggs</option>
            </select>
            <br />
            <br />
            <label for="fname">What is your favorite movie?</label>
            <br />
            <select name="movie">
                <option value="Sound of Music">Sound of Music</option>
                <option value="Percy Jackson: The Lightning Thief">Percy Jackson: The Lightning Thief</option>
                <option value="Hunger Games: Catching Fire">Hunger Games: Catching Fire</option>
                <option value="Goodwill Hunting">Goodwill Hunting</option>
                <option value="Transformers">Transformers</option>
                <option value="Snow White">Snow White</option>
            </select>
            <br />
            <br />
            <label for="fname">What's your favorite song?</label>
            <br />
            <select name="song">
                <option value="Best Part - HER">Best Part - HER</option>
                <option value="Cold Water - Justin Bieber">Cold Water - Justin Bieber</option>
                <option value="Firework - Katy Perry">Firework - Katy Perry</option>
                <option value="Monster - Eminem, Rihanna">Monster - Eminem, Rihanna</option>
                <option value="Electric Love - Borns">Electric Love - Borns</option>
                <option value="Poison - Beyonce">Poison - Beyonce</option>
            </select>
            <br />
            <br />
            <label for="fname">What is your major?</label>
            <br />
            <select name="major">
                <option value="Environmental Science">Environmental Science</option>
                <option value="Marine Biology">Marine Biology</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Other">Other</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Business">Business</option>
            </select>
            <br />
            <br />
            <input type="submit" value="See what Pokemon you are!">
        </form>
        
        
    </body>
</center>
</html>